@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Cards">
    <label for="deckId">Deck Id: </label>
    <input name="deckId" id="deckId" />

    <input type="submit" />
</form>
